body {
  background-color: dodgerblue;
  text-align: center;
  background-image: url("table.jpg");
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

h1,
a {
  color: #02ffff;
}
p {
  color: azure;
}
#message-el,
#sum-el,
#cardResult {
  font-size: 1.5em;
  color: gold;
}
.btn {
  font-size: 1.2rem;
  width: auto;
  cursor: pointer;
  width: 200px;
  padding: 10px 10px;
  border-radius: 5px;
  border: none;
  background-color: goldenrod;
  border: transparent;
  color: black;
  padding: 4px;
  margin: 2px;
}

.btn:hover {
  background-color: #7feeee83;
}
.btn:active {
  background-color: #07fafa83;
}

#cardImages img {
  width: 200px;
  height: 250px;
  margin: 10px;
}

@media screen and (max-width: 640px) {
  #cardImages img {
    width: 100px;
    height: 150px;
    margin: 5px;
  }
}
